body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row {
  display: inline-block;
  width: 100%;
}
.link-list-div
{
   /* width:25%; */
   margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.plus
{
  font-size:40px;
}
.header-line-color {
  border-top: 3px solid #ffa500;
  margin-top: 10px;
}
.submit-box {
  border: 1px solid #9c9c9c;
  background-color: #e8e5e5;
  border-radius: 8px;
  float: left;
  padding: 14px 25px 14px 25px;
  margin-right:20px;
}
.points-box {
  padding: 10px 5px 10px 5px;
  width: 80px;
 text-align:center;
}
.point-text {
  font-size: 15px;
  /* margin-left: 20px; */
}
.point-number-text {
  font-size: 30px;
  font-weight: 900;
}
.submit-text {
  font-size: 30px;
  margin-top: 15px;
  font-weight: 600;
}
#link-list-dropd{
  width: 185px;
  border: 1px solid #9c9c9c;
  background-color: #e8e5e5;
  margin-bottom: 20px;;
 
}
.link-list{
  width:380px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  position: relative;
}
.link-list-item {
  display:flex;
  margin-bottom:15px;
  position:relative;
}
.link-list-item .remove-button {
  width:30px;
  height:30px;
  background-color:red;
  color:white;
  border-radius:50%;
  position: absolute;
  top:0;
  right:0;
  text-align:center;
  font-weight:bold;
  display:none;
  cursor:pointer;
}

.link-list-item:hover {
  background-color:#f7f7f7;
}
.link-list-item:hover .remove-button {
  display:block;
}
.link-name {
  font-size: 21px;
  font-weight: 650;
  text-align: left;
  margin-top: 5px;
}

.link-url {
  font-size: 15px;
  display: block;
  text-align: left;
  color: #868585;
  font-weight: 440;
}
.link-item-left{
  width: calc(100% - 100px);
}
.btn-vote {
  margin-top: 14px;
  color: #868585;
  font-size: 14px;
  font-weight: 500;
  /* cursor: pointer; */
}

.btn-up-vote {
  float: left;
  /* margin-right: 80px; */
}

.btn-down-vote {
  float: right;
}

.add-link{
  width:30%;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  position: relative;
}
.btn-back {
  font-weight: 400;
  margin-left: 7px;
  font-size: 18px;
}
.add-header{
  margin-top: 20px;
}
.btn-input {
  border-radius: 5px;
  border: 1px solid #969494;
  padding: 10px 0px 10px 10px;
  font-size: 15px;
  margin: 2px 5px 20px 5px;
  width: 88%;
}
.btn-add {
  float: right;
  background-color: #000;
  color: #fff;
  border-radius: 40px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
 margin-right: 60px ;
}
.message-box {
  position: absolute;
  width: 450px;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: 1px solid #868585;
  background-color: #f7f7f7;
  cursor: default;
}
.toast-success{
  background-color: green !important;
}
.toast-error{
  background-color: red !important;
}
.paging-active {
  border: 1px solid #868585;
  padding: 3px 8px 3px 8px;
}

.paging-disabled {
  pointer-events: none;
  opacity:0.6;
}
.paging-margin{
  margin-top: 4px;
}
.prev-page-margin{
  margin-left:100px ;
}